mat-card {
  max-width: 80%;
  margin: 2em auto;
}

.column-flex {
  display: flex;
  min-width: 300px;
  flex-direction: column;
}

button {
  margin-bottom: 1%;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#spin {
  zoom: 0.65;
}
