
<mat-card>
  <mat-card-header>
    <mat-card-title >Adicionar cursos</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" class="min-width">

      <mat-form-field class="block">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field class="block">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option value="Mobile">Mobile</mat-option>
          <mat-option value="Front-End">Front-end</mat-option>
          <mat-option value="Back-End">Back-end</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()" class="btn">Enviar</button>
    <button mat-raised-button (click)="onCancel()" class="btn">Limpar</button>
  </mat-card-actions>

</mat-card>
